{% extends 'base.html' %}
{% block content %}

<h1>Recipe Details</h1>
<div class="card">
    <div class="card-content">
      <span class="card-title">{{ recipe.name }}</span>
      <p>Main Ingredient: {{ recipe.get_main_ingredient_display }}</p>                        
      <p>Source: <a href="{{ recipe.source }}">{{recipe.source|truncatechars:20}}</a></p>
      <p>Instructions: {{ recipe.instructions }}</p>
    
     
    </div>
<div class="card-action">
    <a href="{% url 'recipes_update' recipe.id %}">Edit</a>
    <a href="{% url 'recipes_delete' recipe.id %}">Delete</a>
    <br><br>
    <form action="{% url 'recipes_make_favorite' recipe.id %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Add to Favorites!" class="btn">
    </form>
  </div>


{% endblock %}