{% extends 'base.html' %}
{% block content %}
<h2>View Recipes By Main Ingredient</h2>
<form action='/recipe/main/sort' method="POST">
    {% csrf_token %}
    <div class="input-field col s12">
    <select name="main_ingredient">
        <option value="C">Chicken</option>
        <option value="P">Pork</option>
        <option value="B">Beef</option>
        <option value="F">Fish</option>
        <option value="S">Shellfish</option>
        <option value="L">Lamb</option>
        <option value="P">Pasta</option>
        <option value="V">Vegetarian</option>
        <option value="O">Other</option>
    </select>
    <label>Select Main Ingredient</label>
    </div>
    <input type="submit" />
  </form>


{% for recipe in recipes %}
  <a href="{% url 'recipes_detail' recipe.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ recipe.name }}</span>
            <p>Source: {{ recipe.source|truncatechars:25 }}</p>
            <p>Main Ingredient: {{ recipe.get_main_ingredient_display }}</p>
            <p>Instructions: {{ recipe.instructions|truncatechars:50 }}</p>
            {% if recipe.favorite %}
            <p>Favorite</p>
            {% endif %}

        </div>
    </div>
  </a>
{% endfor %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
  });
  </script>
{% endblock %}