{% extends 'base.html' %}
{% block content %}

<h1>Foodles About Page</h1>
<br>
<p>This site was built by a group of like minded people putting their 
skills together to solve this dilemma of forgetting about great recipes</p>
<br>
<p>When was the last time you had that New York Times Fried Chicken 
dish? Is Grandma’s Cornbread really as good as you remember it being last 
Thanksgiving? Foodles is a meal app that will 
track your culinary masterpieces and let you know 
when it’s time to give that recipe another try.</p>

{% endblock %}