:root {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  /* --text-primary: #69645b;
  --text-secondary: ;
  --bg-primary: #dfdcd4;
  --bg-secondary: #88b04b; */
  background-color: #2d2926;
  color: #69645b;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

input {
  color: #dfdcd4;
}

h1 {
  color: #dfdcd4;
}

body::-webkit-scrollbar {
  width: .25rem;
}

/* body::-webkit-scrollbar-track {
background: black;  
}

body::-webkit-scrollbar-track {
  background: coral;
} */

main {
  flex: 1 0 auto;
  margin-left: 5rem;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
  bottom: 0;
}

.page-footer, .nav-wrapper, nav {
  background-color: #88b04b;
}

.navbar {
  transition: width 200ms ease;
  position: fixed;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  width: 100%;
  margin: 0 auto;
}

/* .nav-item:first-child {
  margin-top: auto;
} */

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link i {
  min-width: 2rem;
  margin: 0 1.5rem;
}


/* desktop view */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  
  .navbar:hover {
    width: 16rem;
  }
  
  .navbar:hover .link-text {
    display: inline;
  }
}

.card-list {
  transition: .2s;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 16px;
  padding: 1.0rem;
  color: #2d2926;
  background: #dfdcd4;
  min-width: 250px;
  transition: .2s;
  box-shadow: -1rem;
}

.card-list:hover{
  transform: translateY(-1rem);
}

.card-list:hover~.card {
  transform: translateX(130px);
}

.card-list:not(:first-child) {
  margin-top: -130px;
}

/* mobile view */
@media only screen and (max-width: 600px) {
  .home {
    display: none;
  }
  
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .navbar-nav {
    flex-direction: row;
  }
  
  .nav-link {
    justify-content: center;

  }

  main {
    margin: 0;
  }

  footer.page-footer {
    display: none;
  }
}

.btn, .btn-small {
  background-color: #c69214;
  border: .1rem;
  border-style: solid;
}

.btn:hover, .btn-small:hover {
  color: #c69214;
  background-color: whitesmoke;
}

a {
  color: whitesmoke;
}

.content {
  color: #88b04b;
}

textarea {
  background-color: #dfdcd4;
}

.select-dropdown  {
  background-color: #dfdcd4;
}

.dropdown-content li>span {
  color: #2d2926;
}

.delete {
  background-color: #bf1932;
}

.delete:hover {
  background-color: whitesmoke;
  color: #bf1932;
}